@media (max-width: 1366px){
    .collection{
        grid-template-columns: repeat(3, 1fr );
        &__images{
            width: 100%;
        }
    }
    .partner{
        &__item-img{
            max-width: 200px;
        }
    }
}

@media (max-width: 1200px) {
    .top{
        &__slider-title{
            font-size: 62px;
            line-height: 74px;
        }
        &__slider-img{
            padding-top: 50px;
            height: 500px; 
            width: 450px;
        }
    }
    .collection{
        grid-template-columns: repeat(2, 1fr );
    }
    .blog__box{
        &__items{
            grid-template-columns: repeat(1, 1fr );
            
        }
        &__item{
            justify-content: center;
            align-items: center;
            margin: 0 auto;
        }
        &__item-title{
            max-width: 450px;
        }
    }
    .partner{
        &__item-img{
            max-width: 150px;
        }
    }
}

@media (max-width: 1040px) {
    .blog{
        &__inner{
            flex-wrap: wrap;
        }
        &__items{
            max-width: 100%;
        }
        &__item-img{
            max-width: 100%;
        }
        
    }
    .aside{
        margin-left: 0;
        order: -1;
        margin-bottom: 50px;
        width: 100%;
        &__form-img{
            display: none;
        }
    }
    .blog{
        &__items{
            max-width: 100%;
        }
        &__item-img{
            width: 100%;
        }
    }
}

@media (max-width: 992px) {
    .footer{
        &__info{
            width: 380px;
        }
    }
    .gallery{
        &__items{
            grid-gap: 15px;
        }
        &__btn{
            margin: 5px 10px;
            width: 175px;
        }
    }
    .footer{
        &__form-input{
            margin-bottom: 15px;
        }
    }
    .about{
        &__prev{
            padding: 100px 0;
            margin-bottom: 40px;
        }
        &__content-text>p{
            margin-left: 0;
        }
    }
}

@media (max-width: 840px) {
    .work-path{
        &__items-box{
            flex-wrap: nowrap;
        }
        &__item{
            max-width: 350px;
        }
        &__item--production{
            margin-left: 150px;
        }
        &__item--measurements{
            margin-left: 150px;
        }
    }
    .gallery{
        &__btn{
            margin: 5px 3px;
        }
    }
    .top{
        &__inner{
            &::after{
                height: 100%;
            }
        }
        &__slider-title{
            font-size: 44px;
            line-height: 54px;
        }
        &__slider-img{
            padding-top: 50px;
            height: 500px; 
            width: 450px;
        }
    }
    .about{
        &__prev{
            padding: 80px 0;
        }
    }
    .details{
        &__img{
            display: none;
        }
    }
    .partners{
        &__items{
            grid-template-columns: repeat(3, 1fr );
        }
    }
}

@media  (max-width: 768px) {
    .header__btn{
        display: none;
    }
    .menu{
        padding-left: 0;
        padding-right: 0;
    }
    .menu__list-item+.menu__list-item {
        padding-left: 40px;
    }
    .logo {
        margin: 0;
    }
    .footer{
        &__inner{
            flex-wrap: wrap;
            justify-content: center;
        }
        &__info{
            width: 100%;
            margin-bottom: 50px;
        }
        &__info-text{
            max-width: 100%;
        }
        &__menu{
            margin-left: auto;
            margin-right: auto;
        }
        &__social{
            margin-left: auto;
            margin-right: auto;
        }
    }
    .collection{
        grid-template-columns: repeat(1, 1fr );
    }
    .decor{
        padding: 70px 0 55px;
    }
    .map{
        iframe{
            height: 350px;
        }
    }
    .contact{
        &__social,
        &__text,
        &__address,
        &__form{
            padding-left: 0;
        }
    }
}

@media (max-width: 650px) {
    .top{
        &__inner{
            padding-top: 30px;
            padding-bottom: 60px;
        }
        &__slider-item{
            .top__slider-img{
                display: none;
            }
        }
        &__slider-text{
            margin-bottom: 20px;
        }
    }
    .work-path{
        &__items-box{
            border-bottom: 0;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__items-box::before{
            display: none;
        }
        &__item--production {
            margin: 0 auto;
        }
        &__item--production{
            .work-path__item-text::after,
            .work-path__item-title::after,
            .work-path__item-img::after{
                display: none;
            }
        }
        &__item--measurements {
            margin: 0 auto;
        }
        &__item--measurements{
            .work-path__item-text::after,
            .work-path__item-title::after,
            .work-path__item-img::after{
                display: none;
            }
        }
    }
    .blog__box{
        &__item{
            max-width: 400px;
        }
        &__item-pic{
            max-width: 400px;
        }
    }
}

@media (max-width: 540px) {
    .logo{
        order: -1;
        position: relative;
        z-index: 999999;
    }
    .menu{
        z-index: 99999;
        width: 100%;
        position: relative;
        background-color: #fff;
        padding-right: 0;
        transform: translateY(-300px);
        transition: all .5s;
        &--open{
            transform: translateY(30px);
        }
        &__list{
            display: block;
            text-align: center;
        }
        &__list-item + &__list-item{
            padding-left: 0;
        }
        &__list-link{
            display: block;
            padding: 15px 0;
        }
        
    }
    .header{
        max-height: 150px;
        &__inner{
            flex-wrap: wrap;
            padding-top: 55px;
        }
        &__btn-menu{
            position: relative;
            z-index: 999999;
            display: block;
            background-color: transparent;
            border: none;
            cursor: pointer;
            order: -1;
            span{
                background-color: #000;
                width: 37px;
                height: 3px;
                border-radius: 4px;
                display: block;
                margin: 6px 0;
            }
        }
    }
    .new-collection{
        &__title{
            font-size: 32px;
            line-height: 40px;
        }
    }
    .decor{
        &__title{
            font-size: 28px;
            line-height: 36px;
        }
    }
    .work-path{
        &__item--measurements{
            margin: 0 auto;
        }
    }
    .gallery{
        &__items{
            display: grid;
            grid-template-columns: repeat(2, 1fr );
        }
    }
    .blog__box{
        &__item{
            max-width: 300px;
        }
        &__item-pic{
            max-width: 300px;
        }
        &__item-title{
            font-size: 20px;
            line-height: 30px;
        }
    }
    .about{
        &__prev-title{
            font-size: 40px;
            line-height: 60px;
        }
    }
    .details{
        &__content-title{
            font-size: 30px;
            line-height: 40px;
        }
        &__range-text{
            margin-right: 10px;
        }
    }
    .partners{
        &__items{
            grid-template-columns: repeat(2, 1fr );
        }
    }
    .collection{
        &-images{
            max-width: 300px;
        }
    }
    .contact{
        &__form-input{
            width: 100%;
        }
    }
    .slick-dots li{
        margin: 0 7px;
    }
    .aside{
        &__form-search{
            max-width: 250px;
        }
    }
}

@media (max-width: 375px) {
    .footer{
        &__inner{
            justify-content: space-between;
        }
        &__social{
            margin-left: 0;
        }
        &__form{
            display: block;
        }
        &__form-input{
            max-width: 242px;
        }
        &__form-button{
            width: 100%;
            margin-left: 0;
            max-width: 276px;
        }
    }
    .collection{
        &__images{
            max-width: 290px;
        }
    }
    .blog__box{
        &-title{
            font-size: 28px;
            line-height: 36px;
        }
        &__item-pic{
            max-width: 280px;
        }
        &__item-title{
            font-size: 20px;
            line-height: 28px;
        }
    }
    .partners{
        &__items{
            grid-template-columns: repeat(1, 1fr );
        }
        
    }
    .partner{
        &__item{
            margin: 0 auto;
        }
    }
    .collection{
        &-images{
            max-width: 250px;
        }
    }
    .slick-dots li{
        margin: 0 5px;
    }
}