@import 'global.scss';
@import 'reset.scss';
@import 'vars.scss';
@import 'libs.scss';


.header{
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }
    &__btn{
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
    }
}
.logo{
    margin: 0 auto;
}

.menu{
    padding-left: 35px;
    padding-right: 60px;
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 80px;
    }

    &__list-link{
        @extend %title-font;
        color: rgba(54, 56, 56, 0.9);
        line-height: 22px;

    }
}

.footer{
    &__content{
        background-color: #DFDFDF;
        padding: 60px 0 80px 0;
    }
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__info{
        max-width: 560px;
    }
    &__info-title{
        color: $title;
        font-size: 16px;
        font-weight: bold;
        line-height: 23px;
        font-family: Montserrat;
        margin-bottom: 14px;
    }
    &__info-text{
        font-size: 16px;
        line-height: 27px;
        max-width: 460px;
        margin-bottom: 16px;
    }
    &__info-email{
        position: relative;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: $title;
        padding-left: 32px;
        display: inline-block;
        margin-bottom: 22px;
    }
    &__info-email:before{
        position: absolute;
        content: "";
        top: 8px;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../images/email.svg);
        background-repeat: no-repeat;
    }
    &__form{
        display: flex;
        flex-wrap: wrap;
    }
    &__form-input{
        width: 330px;
        border: 1px solid rgba($title, .7);
        border-radius: 21px;
        background-color: transparent;
        height: 28px;
        padding-left: 18px;
        padding: 6px 10px 6px 18px;
        &::placeholder{
            font-family: 'Open sans', serif;
            font-size: 16px;
            line-height: 28px;
            color: #A1A1A1;
        }
    }
    &__form-button{
        font-family: Open Sans;
        background-color: $title;
        border: 0;
        border-radius: 21px;
        color: #FFFFF0;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px; 
        min-width: 160px;
        height: 43px; 
        padding: 6px 12px;  
        margin-left: 9px;
        cursor: pointer;
    }
    &__social{
        width: 125px;
        margin-right: auto;
        margin-left: 100px;
        padding-top: 63px;
    }
    &__menu{
        width: 125px;
        margin-right: 60px;
        padding-top: 63px;
    }
    &__social-link{
        padding-left: 28px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            top: 2px;
            left: 2px;
            width: 16px;
            height: 18px;
        }
    }
    &__social-link--facebook::before{
        background-image: url(../images/social/facebook.svg);
        background-repeat: no-repeat;
    }
    &__social-link--instagram::before{
        background-image: url(../images/social/instagram.svg);
        background-repeat: no-repeat;
        left: 3px;
    }
    &__social-link--pinterest::before{
        background-image: url(../images/social/Pinterest.svg);
        background-repeat: no-repeat;
    }
    &__social-link--whatsapp::before{
        background-image: url(../images/social/whatsapp.svg);
        background-repeat: no-repeat;
        top: 4px;
        left: 3px;
    }
    &__social-link--youtube::before{
        background-image: url(../images/social/youtube.svg);
        background-repeat: no-repeat;
        left: 1px;
        width: 18px;
    }
    &__social-item,
    &__menu-item{
        margin-bottom: 15px;
    }
    &__social-link,
    &__menu-link{
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
    }
    &__copy{
        background-color: $title;
        text-align: center;
        padding: 42px 0;
        color: #A1A1A1;
    }
}

.rightside-menu{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    max-width: 694px;
    background-color: #fff;
    box-shadow: 1px 1px 17px 0 #000;
    transition: all .5s;
    &.rightside-menu--close{
        transform: translateX(1000%);
    }
    &__close{
        border: 0;
        background-color: transparent;
        margin-top: 41px;
        margin-left: 47px;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 97px;
        margin-right: 95px;
        margin-left: 116px;
        align-items: center;
    }
    &__logo{
        margin-bottom: 26px;
    }
    &__title{
        position: relative;
       @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        color: $title;  
        margin-bottom: 17px;
        padding-bottom: 13px;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: #6D7278;
            max-width: 252px;
            height: 1px;
            margin: 0 auto;
        }
    }
    &__text{
        text-align: center;
        font-size: 16px;
        line-height: 27px;
        color: $default;
        max-width: 483px;
        margin-bottom: 75px;
    }
    &__images{
        max-width: 485px;
    }
}


.top{
    &__inner{
        padding-bottom: 70px;
        position: relative;
        &::after{
            content: '';
            background-image: url(../images/content/slider-bg.jpg);
            position: absolute;
            width: 100%;
            height: 722px;
            top: 0;
            z-index: -1;
        }
    }
    &__slider-item{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__slider-img{
        margin-left: -15%;
        width: 730px;
        height: 815px;
        object-fit: cover;
    }
    &__slider-info{
        max-width: 635px;
        margin-left: 25px;
    }
    &__slider-title{
        color: $title;
        font-weight: bold;
        font-size: 110px;
        line-height: 134px;
        margin-bottom: 26px;
        padding-bottom: 26px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 185px;
            height: 1px;
            left: 0;
            bottom: 0;
            background: #6D7278;
        }
    }
    &__slider-text{
        font-size: 16px;
        line-height: 27px;
        color: $default;
        max-width: 545px;
    }
    
}

.new-collection{
    text-align: center;
    padding: 45px 0 105px;
    &__title{
        font-weight: bold;
        font-size: 36px;
        line-height: 51px;
        color: $title;
        margin-bottom: 25px;
        padding-bottom: 25px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 252px;
            height: 1px;
            background-color: #6D7278;
        }  
    }
    &__text{
        font-size: 16px;
        line-height: 27px;
        max-width: 750px;
        color: $default;
        margin: 0 auto 30px;
    }
}

.collection{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 30px;
    &__item{
        position: relative;
        &:hover{
            .collection__info{
                opacity: 1;
            }
        }
    }
    &__images{
        min-height: 350px;
        object-fit: cover;
    }
    &__info{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: rgba(#fff, 0.7);
        opacity: 0;
        transition: all 0.5s;
    }
    &__info-title{
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: $title;
        margin-bottom: 19px;
        padding-bottom: 19px;
        position: relative;
        &::after{
            position: absolute;
            content: '';
            width: 80%;
            height: 1px;
            left: 0;
            right: 0;
            bottom: 0;
            margin: 0 auto;
            background: #6D7278;
        }
    }
    &__info-text{
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #000;
    }
}

.decor{
    padding: 170px 0 156px;
    background-image: url(../images/decor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &__title{
        font-weight: bold;
        font-size: 60px;
        line-height: 80px;
        color: $title;
        position: relative;
        padding-bottom: 21px;
        margin-bottom: 21px;
        max-width: 730px;
        &::after{
            position: absolute;
            content: '';
            width: 200px;
            height: 1px;
            left: 0;
            bottom: 0;
            background: #6d7278;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 28px;
        color: #5A5A5A;
        max-width: 540px;
    }
}

.work-path{
    padding: 80px 0 30px;
    &__title{
        @extend %title-font;
        color: $title;
        font-size: 36px;
        line-height: 51px;
        text-align: center;
        margin-bottom: 40px;
    }
    &__items-box{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: flex-end;
        border-bottom: 2px solid rgba($title, .7);
        &::before{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            background: $title;
            left: 0;
            bottom: -6px;
            border-radius: 50%;
        }
    }
    &__item{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-width: 250px;
        position: relative;
    }
    &__item--production{
        margin-left: 317px;
        ::after{
            position: absolute;
            content: '';
            bottom: 0   ;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7); 
        }
    }
    &__item--production,
    &__item--—Åonsultation{
        padding-bottom: 30px;
    }
    &__item--measurements{
        margin-left: 306px;
        padding-top: 38px;
        position: relative;
        ::after{
            position: absolute;
            content: '';
            top: 0   ;
            left: 0;
            height: 20px;
            width: 2px;
            background: rgba($title, .7);
        }
    }
    &__item-title{
        @extend %title-font;
        font-size: 16px;
        line-height: 23px;
        color: $title;
        margin-left: 13px;
    }
    &__item-text{
        font-size: 16px;
        line-height: 27px;  
        color: $default;
        margin-top: 13px;
    }
}

.gallery{
    padding: 80px 0 90px;
    &__buttons{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 -15px ;
        margin-bottom: 40px;
    }
    &__btn{
        border: 1px solid rgba(#454647, .5);
        margin: 0 15px;
        width: 160px;
        border-radius: 20px;
        background-color: transparent;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #8F8D8D;
        padding: 6px 0 6px;
        cursor: pointer;
    }
    .mixitup-control-active{
        color: $title;
        background: #FFEF35;
        border-top: 0;
        border-bottom: 0;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px 34px;
    }
    &__item-img{
        object-fit: cover;
        max-height: 1150px;
        width: 100%;
        height: 100%;
    }
    &__item:first-child{
        grid-column: span 2;
        grid-row: span 2;
    }
}

.blog__box{
    margin-bottom: 100px;
    &-title{
        text-align: center;
        max-width: 430px;
        margin: 0 auto 30px;
        @extend %title-font;
        font-size: 36px;
        line-height: 51px;
        color: $title;
    }
    &__items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item{
        text-align: left;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__item-links{
        margin-bottom: 7px;
    }
    &__item-pic{
        object-fit: cover;
        margin-bottom: 19px;
    }
    &__item-date,
    &__item-author,
    &__item-theme{
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: #707070;
    }
    &__item-title{
        @extend %title-font;
        color: $title;
        font-size: 24px;
        line-height: 38px;
    }
}